.file-list-container{
  width:90%;
  height:130vh;
  position:absolute;
}
.file-list >li{
    position: absolute;  
    display: grid;
    grid-gap: 2rem;  
    left:18rem;
    top:-5rem;
    bottom: 1rem;
    
}
@media(min-width:550px){
    .file-list >li{
      grid-template-columns: repeat(2,1fr);

    }
}
@media(min-width:750px){
    .file-list >li{
      grid-template-columns: repeat(3,1fr);
      
    }
}
@media(min-width:950px){
    .file-list >li{
      grid-template-columns: repeat(5,1fr);
      row-gap: 0.5rem;
      
    }
  }
   